@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body{font-family: 'Roboto', sans-serif;}
header.header {
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    padding: 15px;
}
header.header .topbar {
    position: relative;
    display: block;
    text-align: right;
}
header.header .topbar ul.navlist {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
header.header .topbar ul.navlist li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 0 15px;
    text-align: center;
    width: auto;
    border-right: 1px solid #E5E5E5;
    margin: 0 10px;
}
header.header .topbar ul.navlist li span {
    position: relative;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #252525;
}
header.header .topbar ul.navlist li h6 {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #E01E5A;
    padding-left: 10px;
}
header.header .topbar ul.navlist li a.notification {
    position: relative;
    display: block;
    margin: 0 11px;
    text-align: center;
    width: auto;
    margin-left: -13px;
    margin-right: 15px;
}
header.header .topbar ul.navlist li a.notification i {
    font-size: 22px;
    color: #333;
}
header.header .topbar ul.navlist li a.notification span.count {
    position: absolute;
    width: 31px;
    height: 20px;
    background: #E01E5A;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    line-height: 20px;
    top: -19px;
    right: -14px;
}
header.header .topbar ul.navlist li p {
    position: relative;
    display: inline-block;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #252525;
    vertical-align: top;
    padding-right: 9px;
}
header.header .topbar ul.navlist li p span {
    display: block;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: right;
    color: #757575;
    padding-top: 5px;
}
section.main-section {
    position: relative;
    display: block;
    width: 100%;
    background: #F7F7F7;
    height: calc(100vh - 75px);
    padding: 0 15px;
    overflow-y: auto;
}
#navSidebar {
    width: 54px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 13px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #e01e5a;
    height: 100%;
}
.main-section #main {
    margin-left: 54px;
    padding: 0 0 30px 0;
    transition: margin-left .5s;
    position: relative;
    height: auto;
}
#navSidebar h5.menuname {
    display: inline-block;
    width: calc(100% - 35px);
    font-weight: normal;
    font-size: 0;
    line-height: 16px;
    letter-spacing: 0.6em;
    text-transform: uppercase;
    color: #C7CAD1;
    text-align: center;
}
#navSidebar button.openSitebararea i {
    color: #252525;
    font-weight: normal;
    font-size: 19px;
}
#navSidebar button.openSitebararea {
    background: transparent;
    border: none;
    width: 100%;
    display: inline-block;
}
#navSidebar ul {
    position: relative;
    display: block;
    list-style: none;
    padding: 10px 0 0 0;
    margin: 0;
}
#navSidebar ul li {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    transition: 0.8s;
    padding: 0 10px;
    text-align: center;
}
#navSidebar ul li a {
    font-weight: normal;
    font-size: 0;
    line-height: 16px;
    width: calc(100% - 8px);
    color: #252525;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0px 10px 0;
    text-align: center;
}
#navSidebar ul li a i {
    font-size: 22px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -2px;
}
#navSidebar ul li > i {
    font-size: 0;
    color: #252525;
}
#navSidebar ul li a:hover {
    text-decoration: none;
    color: #fff;
}
#navSidebar ul li:hover,#navSidebar ul li.active {
    background: #E01E5A;
    transition: 0.8s;
}
#navSidebar ul li:hover > i,#navSidebar ul li.active > i{ color: #fff;}
#navSidebar ul li:hover a,#navSidebar ul li.active a {
    color: #fff;
}
header.header .topbar ul.navlist li a {
    position: relative;
    width: 100%;
    display: block;
}
header.header .topbar ul.navlist li:last-child {
    border-right: none;
}
.innernav {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 15px;
}
.innernav ul {
    margin: 0;
    padding: 10px 15px;
    list-style: none;
    position: relative;
    display: flex;
    width: 100%;
}
.innernav ul li {
    position: relative;
    display: inline-block;
    width: 100%;
}
.innernav ul li a {
    position: relative;
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #252525;
    padding: 15px 15px 0;
}
.innernav ul:after {content: '';position: absolute;display: block;width: 100%;height: 4px;background: rgb(224 30 90 / 55%);border-radius: 12px;bottom: 0;left: 0;}
.innernav ul li.active a:after {content: '';position: relative;bottom: -12.5px;width: 50px;height: 12px;background: #E01E5A;box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);border-radius: 4px;display: block;margin: auto;text-align: center;/* left: 33%; */}
.innernav ul li.active a {
    color: #E01E5A;
    font-weight: bold;
}
.boxgrid {
    position: relative;
    display: block;
    margin-top: 25px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
}
label.form-label {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #000000;
    position: relative;
    display: block;
    padding-bottom: 10px;
    margin: 0;
}
input.form-control.radiobtn {
    width: 16px;
    height: 16px;
    background: #DADADA;
    color: #DADADA;
    display: inline-block;
    vertical-align: middle;    
    line-height: 20px;
    margin-top: -6px;
}
label.radio-label {
    width: calc(100% - 21px);
    padding-left: 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #000000;
    vertical-align: top;
}
.form-control {
    border: 1px solid #C7CAD1;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 8px 15px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    height: auto;
}
.themebtn {
    background: #E01E5A;
    border-radius: 5px;
    width: 100%;
    padding: 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #E01E5A;
    transition: 0.5s;
}
.themebtn:hover {
    background: transparent;
    color: #E01E5A;
    transition: 0.5s;
}
#navSidebar.opensidebar {
    width: 259px;
    background: #fff;
}
.main-section #main.mainboxarea {
    margin-left: 259px;
    transition: margin-left .5s;
}
#navSidebar.opensidebar h5.menuname {
    font-size: 14px;
}
#navSidebar.opensidebar ul li a {
    font-size: 14px;
    padding: 10px 10px 10px 0;
    text-align: left;
    color: #252525;
}
#navSidebar ul li a i {font-size: 25px;margin-right: 0;color: #fff;}
#navSidebar.opensidebar ul li>i {
    font-size: 20px;
}
#navSidebar.opensidebar ul li a i {
    margin-right: 10px;
    font-size: 25px;
    color: #252525;
}
#navSidebar ul li:hover, #navSidebar ul li.active {
    background: #fff;
}
#navSidebar ul li:hover a i, #navSidebar ul li.active a i {
    color: #252525;
}
#navSidebar.opensidebar ul li:hover, #navSidebar.opensidebar ul li.active {
    background: #E01E5A;
}
#navSidebar.opensidebar ul li:hover a, #navSidebar.opensidebar ul li.active a {
    color: #fff;
}
#navSidebar.opensidebar ul li:hover a i, #navSidebar.opensidebar ul li.active a i {
    color: #fff;
}
#navSidebar.opensidebar button.openSitebararea {
    width: 30px;
    display: inline-block;
}
#navSidebar button.openSitebararea img {
    filter: invert(1);
}
#navSidebar.opensidebar button.openSitebararea img {
    filter: invert(0);
}
#navSidebar .logo {
    position: relative;
    display: block;
    width: 100%;
}
#navSidebar .logo a.logo {
    text-align: center;
    width: 100%;
    position: relative;
}
#navSidebar .logo a.logo img.big {
    display: none;
}
#navSidebar .logo a.logo img.small {
    text-align: center;
    display: block;
    max-width: 100%;
    font-size: 100%;
    text-align: center;
    margin: auto;
}
#navSidebar.opensidebar .logo a.logo img.big {
    display: block;
    margin: auto;
    line-height: 63px;
    vertical-align: middle;
    padding-top: 14px;
}
#navSidebar.opensidebar .logo a.logo img.small {
    display: none;
}
#navSidebar .logo a.logo {
    height: 63px;
    align-items: center;
    vertical-align: middle;
    line-height: 63px;
}
.innernav ul li a:hover {
    text-decoration: none;
    color: #E01E5A;
}
.successpopup .modal-dialog {
    position: relative;
    height: 100vh;
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 440px;
}
.successpopup .modal-dialog .modal-content {background: transparent;border: none !IMPORTANT;border-radius: 8px !important;position: relative;flex-direction: unset;}
.successpopup .modal-dialog .modal-header {
    padding: 0;
}
.successpopup .modal-dialog .modal-header button.close {position: absolute;right: 17px;top: 17px;color: #333;z-index: 1;opacity: 0.5;}
.successpopup .modal-dialog .modal-body {
    background: #FFFFFF;
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.1);
    padding: 0;
    border: none;
    border-radius: 8px !important;
}
.successpopup .modal-dialog .modal-body .sucessbox {
    border-radius: 8px;
    position: relative;
    display: block;
}
.successpopup .modal-dialog .modal-body .sucessbox .sucessprofile {
    position: relative;
    display: block;
    background: #ECEFFB;
    height: 162px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage {
    padding: 50px 30px 50px 30px;
    text-align: center;
}
.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
    margin-bottom: 30px;
}
.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage p {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #000000;
    position: relative;
    display: block;
    margin-bottom: 40px;
}
.borderthemebtn {
    border-radius: 5px;
    width: 100%;
    padding: 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #E01E5A;
    border: 2px solid #E01E5A;
    transition: 0.5s;
}
.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage a {
    width: 100%;
    display: block;
}
.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage a:hover {
    text-decoration: none;
}
.borderthemebtn:hover {
    background: #E01E5A;
    color: #fff;
    transition: 0.5s;
}
.formicon input.form-control {
    padding-right: 30px;
}
.formicon .inputicon {
    position: absolute;
    bottom: 11px;
    right: 10px;
    font-size: 20px;
}
.formicon {
    position: relative;
    display: block;
}
.formicon .inputicon.sucess {
    color: #2EB67D;
}
p.themetext {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #757575;
    position: relative;
    display: block;
    margin-bottom: 20px;
}
a.adddivicon {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #C7CAD1;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}
a.adddivicon i {
    line-height: 48px;
    color: #000000;
    font-size: 20px;
}
.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage.smallp p {
    margin-bottom: 20px;
}
.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage.smallp p.themetext {
    letter-spacing: 0.25px;
    color: #757575;
    position: relative;
    display: block;
    margin-bottom: 20px;
}
.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage a.themebtn.wauto {
    width: max-content;
    margin: auto;
    min-width: 137px;
    position: relative;
    top: 20px;
}
ul.numbers {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 0 0 0;
    list-style: none;
}
ul.numbers li {
    display: inline-block;
    width: 52px;
    margin-right: 0px;
    height: 30px;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    text-align: center;
}
ul.numbers li a {
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #000000;
}
ul.numbers li.active,ul.numbers li:hover {
    background: #4167E3;
}
ul.numbers li.active a,ul.numbers li:hover a {
    color: #fff;
}
ul.numbers li a:hover {
    text-decoration: none;
}
.tableboxdesign table {
    position: relative;
    width: 100%;
    border-collapse: separate;
    border-spacing:0 15px;
}
.tableboxdesign {
    padding: 15px 0;
}
.tableboxdesign table thead {
    background: #D9E1F9;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.1);
    border-radius: 8px !important;
    position: relative;
    margin-bottom: 16px;
}
.tableboxdesign table thead th {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #252525;
    padding: 15px 10px;
}
.tableboxdesign table  tbody tr {
    background: #FFFFFF;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.tableboxdesign table tbody tr td {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #252525;
    mix-blend-mode: normal;
    padding: 15px 10px;
    margin: 15px 0;
    row-gap: 29px;
}
.tableboxdesign table tbody tr td span.lighttext {
    color: rgba(120, 120, 120, 0.87);
}
span.status {
    border-radius: 5px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.4px;
}
span.status.success {
    background: #EAF7F2;
    color: #2EB67D;
}
span.status.failed {
    background: #FFE6E6;
    color: #FF0000;
}
.tableboxdesign table tbody tr td:last-child {
    padding: 8px 10px;
}
.tablefilter {
    position: relative;
    display: flex;
    width: 100%;
    margin: 20px 0;
    justify-content: center;
}
.tablefilter p {
    font-weight: normal;
    font-size: 16px;
    line-height: 42px;
    color: #757575;
    height: 100%;
    align-items: center;
    vertical-align: middle;
    display: flex;
    margin-bottom: 0;
    margin-right: 10px;
}
.tablefilter .smallwidth {
    width: 150px;
    margin: 0 5px;
}
.tablefilter .smallwidth input.form-control {
    padding-right: 14px;
    padding-left: 30px;
    color: #787878;
    border: 1px solid #4167E3;
    box-sizing: border-box;
    border-radius: 6px;
}
.tablefilter .smallwidth i.inputicon {
    right: unset;
    left: 6px;
    color: #4167E3;
}
.tablefilter .longwidth.formicon {
    width: 310px;
    margin: 0 5px;
}
.tablefilter .longwidth.formicon input.form-control {
    border: 1px solid #C7CAD1;
    box-sizing: border-box;
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 30px;
}
.tablefilter .longwidth.formicon i.inputicon {
    right: unset;
    left: 6px;
    color: #252525;
}
.tablefilter button.filterbtn {
    background: #4167E3;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    border: 1px solid #4167E3;
    margin: 0 10px;
    padding: 4px 15px;
}
.tablefilter button.filterbtn  i {
    font-size: 19px;
    margin-top: -2px;
}
.tablefilter i.inputicon {
    font-size: 23px;
}
span.status.pending {
    background: #FDF7EB;
    color: #FFB51F;
}
.tableboxdesign table tbody tr td a.borderthemebtn,.tableboxdesign table tbody tr td a.themebtn {
    padding: 6px 13px;
    margin: 0 6px;
}
.borderthemebtn:hover,.themebtn:hover {
    text-decoration: none;
}
.nohaveagents {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61vh;
    text-align: center;
}
.nohaveagents .noagents {
    position: relative;
    display: block;
}
.nohaveagents p {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #000000;
    padding-top: 10px;
}
#chartdiv{
    width: 100%;
    height: 500px;
  }
  .page-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 20px;
}
p.pagetext {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #757575;
    position: relative;
    display: block;
    width: 100%;
}
p.pagetext span:last-child {
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #000000;
}
p.pagetext span {
    width: 21%;
    position: relative;
    display: inline-block;
}
a.themebtn.extracls {
    top: 20px;
    position: relative;
    padding: 13px 30px;
}
a.themebtn.extracls i {
    font-size: 25px;
    vertical-align: middle;
    margin-top: -3px;
}
.nav-tabs-wrapper ul.nav.nav-tabs.dragscroll.horizontal {
    border: none;
    margin-bottom: 30px;
}
.nav-tabs-wrapper ul.nav.nav-tabs.dragscroll.horizontal li.nav-item a {
    border: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 31px;
    letter-spacing: 0.25px;
    color: #000000;
    width: 70px;
    height: 30px;
    padding: 0;
    text-align: center;
}
.nav-tabs-wrapper ul.nav.nav-tabs.dragscroll.horizontal li.nav-item a.nav-link.active {
    background: #4167E3;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    color: #fff;
}
.nav-tabs-wrapper ul.nav.nav-tabs.dragscroll.horizontal li.nav-item {
    margin: 0 5px;
}
.successpopup  .modal-body {
    max-height: 97vh;
    overflow-y: auto;
}
.sucessbox .sucessmessage .tab-content {
    text-align: left;
}
span.progressdiv {
    background: #D4DCF4;
    width: 100%;
    height: 8px;
    position: relative;
    display: block;
}
.tableboxdesign table tbody tr td span.progresscolor {
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
span.progresscolor.blue {
    background: #4167E3;
}
span.progresscolor.green {
    background: #2EB67D;
}
span.blue {
    color: #4167E3;
    mix-blend-mode: normal;
    font-weight: bold;
}
span.green {
    mix-blend-mode: normal;
    font-weight: bold;
    color: #2EB67D;
}
.userboxarea {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.userboxarea .profile {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #000000;
    width: calc(100% - 121px);
}
.userboxarea .profile img {
    max-width: 100%;
    border-radius: 50%;
    margin-right: 8px;
}
.userboxarea  input.form-control {
    width: 72px;
    display: inline-block;
    margin-left: 10px;
}
.userboxarea  span.crossion {
    margin-left: 9px;
    color: #FF0000;
    font-size: 22px;
    top: 5px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
span.brline {
    position: relative;
    display: block;
    width: 100%;
    background: #4167E3;
    border-radius: 3px;
    height: 3px;
    margin: 10px 0;
}
@media (max-width:767px){
    #navSidebar {
        position: relative;
        width: 100%;
        background: #fff;
        height: auto;
    }
    #navSidebar .logo a.logo img.big {
        display: block;
        max-width: 100%;
        font-size: 100%;
        text-align: center;
        margin: auto;
    }
    #navSidebar .logo a.logo img.small {
        display: none;
    }
    #navSidebar h5.menuname {
        font-size: 14px;
    }
    #navSidebar button.openSitebararea {
        width: 30px;
        display: inline-block;
    }
    #navSidebar button.openSitebararea img {
        filter: invert(0);
    }
    #navSidebar ul li a {
        font-size: 14px;
        padding: 10px 10px 10px 0;
        text-align: left;
        color: #252525;
    }
    #navSidebar ul li a i {
        margin-right: 10px;
        font-size: 25px;
        color: #252525;
    }
    #navSidebar ul li > i {
        font-size: 20px;
    }
    #navSidebar ul li:hover, #navSidebar ul li.active {
        background: #E01E5A;
    }
    #navSidebar ul li:hover a i, #navSidebar ul li.active a i {
        color: #fff;
    }
    #navSidebar ul {display: none;}
    #navSidebar.opensidebar ul {
        display: block;
    }
    #navSidebar.opensidebar {
        width: 100%;
    }
    .innernav ul li.active a {
        background: #E01E5A;
        color: #fff;
    }
    .main-section #main,.main-section #main.mainboxarea {
        margin-left: 0;
        transition: unset;
    }
    .innernav {
        padding: 0;
    }
    .innernav ul {
        display: block;
        padding: 20px 0;
    }
    .innernav ul li {
        width: 49%;
    }
    .innernav ul li.active a:after {
        display: none;
    }
    .innernav ul li.active a {
        background: #E01E5A;
        color: #fff;
    }
    header.header .topbar {
        text-align: left;
    }
    header.header .topbar ul.navlist li:first-child {
        display: inline-block;
        width: calc(100% - 59px);
        margin: 0;
    }
    header.header .topbar ul.navlist li:nth-child(2) {
        margin: 0;
    }
    header.header .topbar ul.navlist li {border-right: none;}
    header.header .topbar ul.navlist li:last-child {
        width: 100%;
        margin: 16px 0 0;
        text-align: right;
    }
    header.header .topbar ul.navlist li a.notification span.count {
        top: 0;
    }
    header.header .topbar ul.navlist li a.notification i {
        margin-top: 18px;
        position: relative;
    }
    .innernav ul li a {
        padding: 15px 0;
    }
    .tablefilter {
        display: block;
    }
    .tablefilter p {
        line-height: 20px;
        display: block;
        height: auto;
        margin-bottom: 13px;
        text-align: center;
    }
    .tablefilter .smallwidth {
        width: 100%;
        margin: 0 0 15px 0;
    }
    .tablefilter .longwidth.formicon {
        width: 100%;
        margin: 0 0 15px 0;
    }
    .tablefilter button.filterbtn {
        display: block;
        margin: 10px auto;
    }
    p.pagetext span {
        width: 49%;
    }
    a.themebtn.extracls {
        width: 100%;
        display: block;
        padding: 13px 15px;
    }
}
@media (min-width:768px) and (max-width:991px){
    .tablefilter p {
        width: 46%;
        display: inline-block;
        height: auto;
    }
    .tablefilter {
        display: block;
    }
    .tablefilter .smallwidth {
        width: 46%;
        display: inline-block;
    }
    .tablefilter .longwidth.formicon {
        width: 50%;
        display: inline-block;
        margin-top: 16px;
    }
    .innernav ul {
        display: block;
    }
    .innernav ul li {
        width: 32%;
        display: inline-block;
        margin: 0px;
    }
    .innernav ul li.active a:after {
        display: none;
    }
    .innernav ul li a {
        padding: 15px;
    }
    .innernav ul li.active a {
        background: #E01E5A;
        color: #fff;
    }
    img.mt-5.speedometr {
        max-width: 100%;
    }
    p.pagetext span {
        width: 49%;
    }
}


.password_recovery_sec {
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.password_recovery_sec .boxarea {
    background: #FFFFFF;
    box-shadow: 3px 9px 24px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin: auto;
    width: 400px;
    position: relative;
    display: block;
    padding: 30px;
}
.verticalmiddle {
    width: 100%;
    margin: auto;
}
.password_recovery_sec .boxarea .logobox {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.password_recovery_sec .boxarea .logobox img {
    max-width: 21%;
    margin: auto;
    display: block;
}
.password_recovery_sec .boxarea h5 {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    display: block;
    margin: 0 auto 20px;
    width: 100%;
}
.password_recovery_sec .boxarea p.text-center {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #96969A;
}
.countryinput {
    position: relative;
}
.countryinput input.form-control {
    padding-left: 40px;
}
.countryinput span.countrycode {
    position: absolute;
    top: 11px;
    left: 14px;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
}
.password_recovery_sec .boxarea 
 button.themebtn {
    margin-top: 40px;
}
.password_recovery_sec p.rememberdpassword {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #252525;
    display: block;
    margin-top: 19px;
}
.password_recovery_sec p.rememberdpassword a {
    display: block;
    color: #e01e5a;
    font-weight: bold;
}
.password_recovery_sec p.rememberdpassword a:hover {
    text-decoration: none;
}
.password_recovery_sec ul.languagelist {
    margin-bottom: 0;
    list-style: none;
    display: block;
    padding: 0;
    text-align: center;
    margin-top: 15px;
}
.password_recovery_sec ul.languagelist li {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    margin: 0;
}
.password_recovery_sec ul.languagelist li.active {color: #e01e5a;}
.password_recovery_sec ul.languagelist li:after {content: '';position: relative;width: 1px;height: 17px;background: #000;display: inline-block;margin: 0 10px;}
p.footer {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
p.footer a {
    color: #e01e5a;
}
p.footer a:hover {
    text-decoration: none;
}
.form-group.digitcode input.form-control {
    width: 15.5%;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
}
.form-group.digitcode {
    padding: 0 20px;   
    margin: 40px 0;
}
.form-group.digitcode input.form-control:focus,.form-group.digitcode input.form-control:active {
    border-color: #e01e5a;
    box-shadow: none;
}
button#sucessreset {
    margin-bottom: 30px;
}
.sucessicon {
    position: relative;
    display: block;
    text-align: center;
    margin: 45px 0 26px;
}
.sucessicon i {
    font-size: 24px;
    width: 40px;
    height: 40px;
    background: #2EB67D;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
}
.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage p.topuplist {
    text-align: left;    
    margin-bottom: 6px;
}
.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage p.topuplist span.title {
    width: 55%;
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #96969A;
}
.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage p.topuplist span.val {
    width: 45%;
    display: inline-block;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #252525;
}
.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage p.topuplist span.val.themeclr {
    color: #e01e5a;
}
.form-group.yourpin input.form-control {
    width: 23%;
    display: inline-block;
    border: none;
    border-bottom: 2.68571px solid #C7CAD1;
    border-radius: 0;
    margin: 0 1px;
    text-align: center;
    font-size: 60px;
    padding: 0;
    line-height: 22px;
    color: #E01E5A;
}
.form-group.yourpin {
    padding: 0 20px;
}
.form-group.yourpin input.form-control:focus,.form-group.yourpin input.form-control:active {
    border-color: #E01E5A;
    box-shadow: none;
}
.progress.customeprocess {
    height: 35px;
    width: calc(100% - 30px);
    margin: auto;
}
.mlr-15 {
    margin: 0;
    position: relative;
    display: block;
    text-align: center;
}
.progress.customeprocess span.textprocess {
    display: block;
    position: absolute;
    top: 45%;
    text-align: center;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
}
.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage.smallp p.faildtext {
    margin-top: -12px;
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    color: #FF0000;
}
.formicon.lefticon .form-control {
    padding-left: 30px;
}
.formicon.lefticon .inputicon {
    left: 5px;
    right: unset;
}
.tableboxdesign table tbody tr td a.borderthemebtn.grey {
    border-color: #DADADA;
    color: #252525;
}
.tableboxdesign table tbody tr td a.borderthemebtn.grey:hover {
    color: #252525;
    background: #DADADA;
}
.tableboxdesign table tbody tr td a.themebtn.grey {
    background: #DADADA;
    color: #252525;
    border-color: #DADADA;
}
.tableboxdesign table tbody tr td a.themebtn.grey:hover {
    background: #fff;
}
.form-group .file-wrapper {
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    border: 1px solid #C7CAD1;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}
.form-group .file-wrapper input {
    left: 0;
    opacity: .01;
    cursor: pointer;
    position: absolute;
    -moz-opacity: .01;
    filter: alpha(opacity=1);
    border: 1px solid #C7CAD1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    outline: none;
    width: 100%;
    display: block;
    padding: 5px 15px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    height: auto;
}
.form-group .file-wrapper span.file-button {
    color: #fff;
    float: right;
    cursor: pointer;
    margin-right: -20px;
    padding: 8px 15px;
    background: transparent;
    display: inline-block;
}
.form-group .file-wrapper span.file-button span.file-holder {
    top: 15px;
    padding-left: 15px;
    position: absolute;
    left: auto;
}
.form-group .file-wrapper span.file-button i {
    color: #C7CAD1;
    font-size: 23px;
}
span.splittext {
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    display: block;
    height: 16px;
}
span.splittext:after {content: '...';position: absolute;display: inline-block;font-size: 15px;top: 0;right: 0;}
.successpopup.largepopup .modal-dialog {
    max-width: 62%;
}
span.sliptext {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
/* identical to box height */
    color: #96969A;
}
img.slip {
    max-width: 100%;
}
.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage a.borderthemebtn.wauto {
    width: max-content;
    margin: auto;
    min-width: 137px;
    position: relative;
    top: 20px;
}
.profilepic {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    width: auto;
}
.profilepic img.profile {
    width: 128px;
    height: auto;
    border-radius: 50%;
}
.profilepic i {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 10px;
    right: 0px;
    background: #757575;
    border: 1.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 27px;
}
.profilepic input.hidefile {
    width: 32px;
    position: absolute;
    bottom: 10px;
    right: 0px;
    opacity: 0;
    z-index: 9;
}
.exbottom.innernav ul li.active a:after {
    bottom: -19.5px;
}
.lighttext {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #757575;
}
.boxgrid.smallpad {
    padding: 15px;
}
.verified {
    position: relative;
    width: 100%;
    vertical-align: middle;
}
.verified i {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
}
.verified .green {
    background: #2EB67D;
}
.verified span {
    position: relative;
    display: inline-block;
    margin-left: 6px;
    vertical-align: middle;
}
.verified .pending {
    background: #F2994A;
}
.verified .danger {
    background: #FF0000;
}
button.displyinline {
    display: inline-block;
    width: 44%;
    margin: 0 10px;
}
.boxgrid.listofkyc {
    padding: 24px;
}
.boxgrid.listofkyc .form-group {
    margin-bottom: 0;
}
.boxgrid.listofkyc .row {
    align-items: center;
}
.boxgrid.listofkyc .formicon .inputicon {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    bottom: 9px;
}
.formicon .inputicon.verifide {
    color: #2EB67D;
}
.boxgrid.listofkyc button.borderthemebtn {
    background: #fff;
}
.boxgrid.listofkyc button.borderthemebtn:hover {
    background: #e01e5a;
}
.boxgrid.listofkyc button i {
    font-size: 16px;
    margin-right: 15px;
}
.formicon .inputicon.notverifide {
    color: #FF0000;
}
.formicon .inputicon.leftticon {
    right: unset;
    left: 5px;
}
.formicon .inputicon.leftticon i {
    font-size: 25px;
}
.formicon .inputicon.pending {
    color: #F2994A;
}
.formicon input.form-control.leftsidegap {
    padding-left: 32px;
}
.formicon .inputicon.extramove {
    right: 40px;
}
.formicon .inputicon.clrgreen {
    color: #2EB67D;
}
.sucessmessage.smallp.textoneline p.topuplist span.title,.sucessmessage.smallp.textoneline p.topuplist span.val {
    display: block !IMPORTANT;
    text-align: center;
    width: 100% !important;
}
.boxgrid.smallpadd {
    padding: 18px;
    margin-bottom: 5px;
}
.boxgrid.smallpadd .reportbox {
    position: relative;
    display: block;
    height: auto;
}
.boxgrid.smallpadd .reportbox span.reportstatus {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    margin-bottom: 12px;
    position: relative;
    display: block;
}
.boxgrid.smallpadd .reportbox span.reportstatus i {font-size: 14px;}
.boxgrid.smallpadd .reportbox p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    color: #000000;
}
.boxgrid.smallpadd .reportbox span.reportstatus.red {
    color: #FF0000;
}
.boxgrid.smallpadd .reportbox span.reportstatus.grey {
    color: #787878;
}
.switch.toggleswitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}
.switch.toggleswitch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.toggleswitch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #e01e5a59;
}
.toggleswitch .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 1px;
    background-color: #e01e5a59;
    -webkit-transition: .4s;
    transition: .4s;
}
.toggleswitch input:checked + .slider {
    background-color: #ffffff;
}
.toggleswitch input:focus + .slider {
    box-shadow: 0 0 1px #e01e5a59;
}
.toggleswitch input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
    background: #e01e5a;
}
.toggleswitch .slider.round {
    border-radius: 34px;
}
.toggleswitch .slider.round:before {
    border-radius: 50%;
}
.settingboxlist {
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.settingboxlist .input-group.aligncenter {
    display: inline-block;
    width: 60px;
    line-height: 36px;
}
.settingboxlist label {
    line-height: 36px;
    vertical-align: middle;
    width: calc(100% - 65px);
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.15px;
    color: #000000;
    mix-blend-mode: normal;
    margin-bottom: 0;
}
h5.settingtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #000000;
    margin-bottom: 30px;
}
.settingboxlist .editboxline {
    position: relative;
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #757575;
    mix-blend-mode: normal;
}
.settingboxlist .editboxline a {
    font-size: 22px;
    color: #252525;
}
.boxgrid.equalheight {
    min-height: 420px;
}
.commissionbox {
    position: relative;
    display: flex;
    width: 100%;
}
.commissionbox span.roundimg {
    width: 25px;
    height: 25px;
    display: inline-table;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}
.commissionbox span.roundimg img {
    max-width: 77%;
    text-align: center;
    line-height: 25px;
    margin: auto;
    display: block;
    position: relative;
    vertical-align: middle;
    height: auto;
    top: 3px;
    border-radius: 50%;
}
.commissionbox h6 {
    display: flex;
    position: relative;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #000000;
    margin: 0 12px;
    width: 100%;
    text-align: center;
}
.commissionbox span {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #757575;
    position: relative;
    margin: 0 5px;
    width: 100%;
    text-align: center;
}
.commissionbox h6:last-child {
    width: auto;
}
.comscheme p {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
    margin-bottom: 30px;
}
.comscheme h5.settingtitle {
    margin-bottom: 10px;
}
.comscheme {
    padding: 16px;
}
.comscheme .commissionbox {
    padding: 10px 0px;
    border-bottom: 1px solid #C7CAD1;
}
.comscheme .commissionbox:last-child {
    border-bottom: none;
}
.tableboxdesign table tbody tr td select {
    padding: 4px;
    border: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #4167E3;
}
a.borderthemebtn.withoutborder {
    border: none;
}
a.borderthemebtn.withoutborder:hover {
    background: #fff;
    color: #e01e5a;
}
.semilarge.successpopup .modal-dialog {
    max-width: 532px;
}
.semilarge.successpopup .sucessmessage h5 {
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 9px;
}
.semilarge.successpopup .sucessmessage 
 span.status {
    display: inline-block;
    width: 96px;
}
.semilarge.successpopup .sucessmessage h6.mtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #000000;
    margin-bottom: 10px;
}
.semilarge.successpopup .sucessmessage select.boederselect {
    border: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.25px;
    color: #4167E3;
    padding: 7px 13px;
}
.semilarge.successpopup .sucessmessage span.borderbr {
    background: #4167E3;
    opacity: 0.5;
    border-radius: 3px;
    height: 2px;
    width: 100%;
    display: block;
    margin: 20px 0 10px;
}
.semilarge.successpopup .sucessmessage .boxgrid.smallpad a {
    color: #000;
    font-size: 20px;
    width: auto;
    margin-left: 10px;
}
.semilarge.successpopup .sucessmessage .boxgrid.smallpad h6 {
    margin: 0 9px;
    width: 100%;
}
.semilarge.successpopup .sucessmessage .boxgrid.smallpad h6:nth-child(4){
    width: auto;
    margin: 0 9px;
}
.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage.mrbsmall p {
    margin-bottom: 9px;
}
h6.smalltext {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #000000;
}
p.themetext.bigtext {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-top: 25px;
}
.listservice {
    position: relative;
    display: block;
}
.listservice span.roundimg {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
    position: relative;
}
.listservice span.roundimg img {
    max-width: 77%;
    text-align: center;
    line-height: 25px;
    margin: auto;
    display: block;
    position: relative;
    vertical-align: middle;
    height: auto;
    top: 3px;
    border-radius: 50%;
}
.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage.smallp p.greytext {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #757575;
    margin-bottom: 0;
}
.semilarge.successpopup .sucessmessage .boxgrid.smallpad a.roundbox {
    width: 20px;
    height: 20px;
    background: #C4C4C4;
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    position: relative;
    display: inline-table;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
}
.semilarge.successpopup .sucessmessage .boxgrid.smallpad a.roundbox i {
    line-height: 20px;
}
.semilarge.successpopup .sucessmessage .boxgrid.smallpad a.roundbox.sucess {
    background: #2EB67D;
}
.semilarge.successpopup .sucessmessage .boxgrid.smallpad a.roundbox.rejected {
    background: #FF0000;
}
@media (max-width:767px){
    button.displyinline {
        display: block;
        margin: 16px auto 0;
    }
    .verified {
        text-align: center;
        margin-bottom: 15px;
    }
    .boxgrid.listofkyc .form-group {
        margin-bottom: 20px;
    }
    .tableboxdesign table tbody tr td a.borderthemebtn, .tableboxdesign table tbody tr td a.themebtn {
        position: relative;
        display: inline-block;
        margin-top: 13px;
    }
    .successpopup .modal-dialog .modal-body .sucessbox .sucessmessage a {
        margin-top: 14px;
    }
}
@media (min-width:768px) and (max-width:991px){
    button.displyinline {
        display: inline-block;
        margin: 16px auto 0;
    }
    .verified {
        text-align: center;
        margin-bottom: 15px;
    }
    .boxgrid.listofkyc .form-group {
        margin-bottom: 20px;
    }
    .successpopup .modal-dialog .modal-body .sucessbox .sucessmessage a {
        margin-top: 14px;
    }
    .tableboxdesign table tbody tr td a.themebtn.grey {
        margin-top: 15px;
        position: relative;
        display: inline-block;
    }
}

span.splittext {
    width: 60px;
}
.boxgrid .graphtext {
    width: 40%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.boxgrid  .graphimg {
    position: relative;
    display: inline-block;
    width: 58%;
    vertical-align: middle;
}
.boxgrid .graphimg img {
    max-width: 100%;
}
.boxgrid .graphimg img:first-child {
    margin-bottom: -24px;
}
.boxgrid .graphimg span.month {
    display: inline-block;
    width: 33.33%;
    text-align: right;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #CBCBCB;
}
.boxgrid .graphimg span.month.active {
    color: #787878;
}
.boxgrid .graphtext h2.title {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    color: #787878;
    position: relative;
}
.boxgrid .graphtext h4 {
    display: inline-block;
    width: auto;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #252525;
    margin: 20px 0 0 0;
}
.boxgrid .graphtext p {
    width: auto;
    display: inline-block;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}
.boxgrid .graphtext p.green {
    color: #2EB67D;
}
.boxgrid .graphtext p.red {
    color: #FF0000;
}
span.rating {
    position: relative;
    display: inline-block;
}
span.rating i {
    font-size: 16px;
    margin: 0 3px;
    color: #C7CAD1;
}
span.rating i.colored {
    color: #FEC135;
}
span.ratetext {
    position: relative;
    display: inline-block;
    margin-left: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #E01E5A;
}
.extralarge.successpopup .modal-dialog {
    max-width: 1000px;
}
.extralarge.successpopup .sucessmessage .boxgrid.smallpad h6:last-child {
    width: auto;
}
.extralarge.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage p.topuplist span.title {
    display: block;
    width: 100%;
}
.extralarge.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage p.topuplist span.val {
    display: block;
    width: 100%;
}
.extralarge.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage p.topuplist {
    margin-bottom: 15px;
}
.reviewbox {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #C7CAD1;
}
.reviewbox span.reviewimg {
    width: 36px;
    display: inline-block;
}
.reviewbox span.reviewimg img {
    max-width: 100%;
}
.reviewbox  span.reviewtitle {
    position: relative;
    display: inline-block;
    width: calc(100% - 36px - 100px);
    vertical-align: top;
}
.reviewbox  span.reviewdate {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: right;
    color: #BDBDBD;
    width: 90px;
    display: inline-block;
    vertical-align: top;
}
.reviewbox span.reviewtitle h6 {
    font-weight: 500;
    font-size: 12px;
    line-height: 125.8%;
    text-transform: uppercase;
    color: #333333;
    margin-top: 8px;
}
.reviewbox span.reviewdescription {
    display: block;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 133.3%;
    color: #333333;
}
.listofreview {
    position: relative;
    display: block;
    width: 100%;
    max-height: 428px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #4167E3 transparent;
}
.listofreview::-webkit-scrollbar {
  width: 3px;
  height: 9px;

}
.listofreview::-webkit-scrollbar-track {
    background-color: #ECEFFB;
}
.listofreview::-webkit-scrollbar-thumb {
    background: #4167E3;
    border-radius: 20px;
    width: 3px;
    height: 9px;
}
.listofreview::-webkit-scrollbar-thumb:hover {
    background: #4167E3;
    border-radius: 10px;
}
.extralarge.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage a.themebtn.wauto {
    margin: unset;
}
.extralarge.successpopup .modal-dialog .modal-body .sucessbox .sucessmessage .text-right a.themebtn.wauto {
    margin-left: auto;
}
.width600.successpopup .modal-dialog {
    max-width: 532px;
}
span.rateimg {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.sucessmessage.smallp.mrbsmall span.rating.big i {
    font-size: 27px;
    margin: 0 5px;
}
.sucessmessage.smallp.mrbsmall span.rating.big {
    text-align: center;
    position: relative;
    display: block;
    margin-bottom: 21px;
    margin-top: 17px;
}
textarea.form-control.textarea {
    background: #F3F3F3;
    border-radius: 8px;
    height: 100px;
    resize: none;
}
.width600.successpopup .modal-dialog .modal-body .sucessbox .sucessprofile {
    flex-direction: column;
}
.width600.successpopup .modal-dialog .modal-body .sucessbox .sucessprofile h6.revirename {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 0;
}
span.status.Default {
    background: #EDEAF7;
    color: #4167E3;
}
textarea.form-control.height120 {
    height: 120px;
    resize: none;
}
h3.helptitle {
    font-weight: 500;
    font-size: 26px;
    line-height: 133%;
    letter-spacing: 0.15px;
    color: #000000;
    position: relative;
    display: block;
    margin-bottom: 15px;
}
.mt-27 {
    margin-top: 27px;
}
p.helpsmalltitle {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #757575;
    position: relative;
    display: block;
}
ul.helpcontactlist {
    position: relative;
    display: block;
    list-style: none;
    padding: 0;
}
ul.helpcontactlist li {
    padding-bottom: 15px;
    width: 100%;
}
ul.helpcontactlist li a {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-decoration-line: underline;
    color: #000000;
    position: relative;
    display: inline-block;
    padding-left: 14px;
    vertical-align: middle;
}
ul.helpcontactlist li i {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    color: #fff;
}
ul.helpcontactlist li i.whatsappcolor {
    background: #25D366;
}
ul.helpcontactlist li i.telegramcolor {
    background: linear-gradient(203.2deg, #37AEE2 21.67%, #1E96C8 70%);
}
ul.helpcontactlist li i.pinkng {
    background: #E01E5A;
}
.ticketsbox {
    position: relative;
    display: inline-block;
    width: calc(100% - 34px);
}
.ticketsbox h5 {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #000000;
}
.ticketsbox p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}
a.linktoarrow {
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: #000;
    vertical-align: top;
    width: 30px;
    text-align: right;
}
.card.helpfaq {
    position: relative;
    display: block;
    border: none;
    background: transparent;
    box-shadow: none;
    border-radius: unset;
}
.card.helpfaq .card-header {border-radius: unset;background: #fff;border: none;padding: 0;text-align: left;}
.card.helpfaq .card-header h2 button {
    padding: 0;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #000000;
    position: relative;
    display: block;
    width: calc(100% - 25px);
}
.card.helpfaq .card-header h2 button:hover {
    text-decoration: none;
}
.card.helpfaq .card-header h2 button i {
    width: 20px;
    height: 20px;
    background: #C7CAD1;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    border-radius: 50%;
    float: right;
    margin-right: -25px;
    color: #fff;
}
.card.helpfaq .collapse .card-body {
    padding: 17px 0 0 0 !important;
}
.card.helpfaq .collapse .card-body p,.card.helpfaq .collapse .card-body {
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 20px !important;
    letter-spacing: 0.25px !important;
    color: #757575 !important;
    margin: 0 !important;
}
.card.helpfaq .card-header h2 button:hover,.card.helpfaq .card-header h2 button:focus {
    text-decoration: none;
    box-shadow: unset;
}
.bankaccount .commissionbox {
    margin-bottom: 17px;
}
.bankaccount ul.accountdetails {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
}
.bankaccount ul.accountdetails li {
    position: relative;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #757575;
}
.boxgrid.systemstatsu .commissionbox h6 {
    width: 24%;
}
.boxgrid.systemstatsu .commissionbox span {
    text-align: left;
}
.boxgrid.systemstatsu .commissionbox span.roundimg {
    box-shadow: unset;
    border-radius: unset;
}
.boxgrid.systemstatsu .commissionbox span.roundimg img {
    border-radius: unset;
}
.graphbox {
    width: 100%;
    height: 300px;
  }
  h3.graphtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #787878;
}
p.grapgsmalltitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
}
span.graphgrowth {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #2EB67D;
    margin-bottom: 17px;
    position: relative;
    display: block;
}
ul.boxregualr {
    position: relative;
    display: flex;
    width: 100%;
    margin: 20px 0 40px;
    list-style: none;
    padding: 0;
}
ul.boxregualr li {
    position: relative;
    display: flex;
    width: 100%;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #787878;
    vertical-align: middle;
    align-items: center;
}
ul.boxregualr li .round {
    width: 10px;
    height: 10px;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    background: rebeccapurple;
    margin-right: 9px;
    vertical-align: middle;
}
ul.boxregualr li .round.firround {
    background: #6794dc;
}
ul.boxregualr li .round.secround {
    background: #67b7dc;
}
ul.boxregualr li .round.thiround {
    background: #6771dc;
}
ul.boxregualr li .round.forround {
    background: #8067dc;
}
ul.boxregualr li .round.fifround {
    background: #a367dc;
}
ul.boxregualr li .round.sixround {
    background: #c767dc;
}
.aletrbox {
    position: fixed;
    width: 100%;
    display: block;
    bottom: 0;
    left: 0;
    background: #2EB67D;
    z-index: 9;
    padding: 14px;
}
.aletrbox p {
    margin: 0;
    width: calc(100% - 29px);
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    display: inline-block;
}
.aletrbox span.close {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    opacity: 1;
}
.aletrbox span.close i {
    font-size: 17px;
    text-align: center;
    display: block;
    line-height: 25px;
    color: #757575;
}
.notificationbox {
    position: fixed;
    width: 361px;
    display: block;
    z-index: 99;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    top: 116px;
    right: 201px;
    padding: 10px;
    transition: 0.8s;
    opacity: 0;
    visibility: hidden;
}
header.header .topbar ul.navlist li a.notification.active + .notificationbox {
    top: 52px;
    transition: 0.8s;
    opacity: 1;
    visibility: visible;
}
.notificationbox .notoficationitems {
    max-height: 70vh;
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    overflow-y: auto;    
    scrollbar-width: thin;
    scrollbar-color: #4167E3 transparent;
}
.notificationbox .notoficationitems::-webkit-scrollbar {
  width: 3px;
  height: 9px;

}
.notificationbox .notoficationitems::-webkit-scrollbar-track {
    background-color: #ECEFFB;
}
.notificationbox .notoficationitems::-webkit-scrollbar-thumb {
    background: #4167E3;
    border-radius: 20px;
    width: 3px;
    height: 9px;
}
.notificationbox .notoficationitems::-webkit-scrollbar-thumb:hover {
    background: #4167E3;
    border-radius: 10px;
}
.notificationbox .notoficationitems .notificationitem {
    background: #FFFFFF;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    padding: 15px;
    margin-top: 20px;
}
.notificationbox .notoficationitems .notificationitem p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #000000 !important;
    text-align: left !IMPORTANT;
    padding: 0 !important;
    display: block !important;
}
.notificationbox .notoficationitems span.time {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #757575;
    margin: 6px 0 0;
    padding-right: 15px;
}
.notificationbox .notoficationitems p.datearea {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #757575;
    display: block;
    width: 100%;
    text-align: center !IMPORTANT;
}
.notificationbox .notoficationitems .notificationitem:first-child {
    margin-top: 0;
}
.notificationbox .notoficationitems .notificationitem.danger {
    background: #FFE6E6;
}
.notificationbox .notoficationitems .notificationitem.danger h6 {    
color: #FF0000;
}
.notificationbox .notoficationitems .notificationitem.danger a {   
color: #E01E5A;
}
.notificationbox .notoficationitems .notificationitem a:hover {
    text-decoration: none;
}
.notificationbox .notoficationitems .notificationitem a {
    position: relative;
    display: block;
    text-align: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}
.notificationbox .notoficationitems .notificationitem h6 {
    padding: 0 !important;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
}